@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./badges.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply bg-gray-950 text-slate-300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1980px;
  margin: 0 auto;
  padding: 1rem 2rem 0 2rem;
  text-align: center;
}

.button--primary {
  @apply flex items-center justify-center
rounded-full px-4
py-2 bg-lime-500 drop-shadow-md text-black text-2xl transition-all hover:bg-lime-400 hover:scale-105;
}

.badge--sent {
  @apply px-3 py-1 bg-yellow-500 rounded-xl text-gray-100 tracking-wide;
}
.badge--rejected {
  @apply px-3 py-1 bg-rose-500 rounded-xl text-gray-100 tracking-wide;
}
.badge--answered {
  @apply px-3 py-1 bg-green-500 rounded-xl text-gray-100 tracking-wide;
}
.badge--no-respond {
  @apply px-3 py-1 bg-gray-500 rounded-xl text-gray-100 tracking-wide;
}

.modal__backdrop {
  @apply fixed z-10 top-0 left-0 w-screen h-screen bg-slate-700 opacity-50 backdrop:blur-xl;
}
.modal__content {
  @apply fixed z-20 origin-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-4/6 h-5/6 py-8 px-10 flex flex-col justify-center opacity-100 bg-gray-900;
}
.form {
  @apply flex flex-wrap flex-col justify-center gap-5;
}
.form__input {
  @apply h-10 w-64 py-2 px-2  bg-gray-900  border-zinc-600 border-b placeholder:text-zinc-500;
}
.form__select {
  @apply h-10 w-64 py-1 px-2 bg-gray-900 rounded-md border-zinc-600 border;
}
.form__textarea {
  @apply w-full py-2 px-2 h-32 bg-gray-900 rounded-md border-zinc-600 border placeholder:text-zinc-500;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
